@import url("reset.css");
html {
    font-size: 100%;
}
body
{
	
	background: #FFF;
	color: #333;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 auto;
	margin: 0 auto;

}

a { color: #30797F; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }


.clearfix:after {
    overflow:hidden;
    height:100%;
 }
/* Main Styles */

#container
{
	margin: 0 auto;
	width: 780px;
	padding: 20px;
	background: #FFF;
}

	#headercont
	{
		left:130px;
		width: 300px;
		height: 80px;
	}
	
		#headercont h1 a
		{
			color: #000000;
			font-size: 20px;
			line-height: 70px;
			font-family: 'Lato', sans-serif;

			/*font-weight: bold;*/
			letter-spacing: -1px;
		}
		
		#headercont h1 a:hover
		{
			color: #30797F;
		}
		
	#menucont
	{
		z-index: 10;
		text-align: right;
		background-color: rgba(255,255,255,0.8);
		position: fixed;
		left:70px;
		width: 230px;
		height: 100%;
		margin: 50px 0px 15px 0;
		padding-right: 10px;
	}
		#menucont h1 a
		{
			letter-spacing:2px;
			text-align: right;
			color: #333333;
			font-size: 20px;
			line-height: 70px;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
		}
	
			#menucont ul
			{
				float: bottom;
				list-style-type: none;
			}
		
			#menucont ul li
			{
				text-align: right;
				float: bottom;
				overflow: hidden;
				height: 46px;
			}
		
			#menucont ul li a
			{
				text-align:right;
				padding: 0 0px;
				float: bottom; 
				font-family: 'Lato', sans-serif;
				font-weight: 400; 
				color: #333333;
				text-transform: uppercase;
				line-height: 46px;
			}
		
				#menucont ul li a.active
				{/*
					background: #30797F;
					color: #4EC3CB;*/
				}
		
			#menucont ul li a:hover
			{
				/*background: #30797F;*/
			}
			
	#middlecont
	{

		left:430px;
		width: 580px;
		line-height: 22px;
		padding: 40px 0 0 0;
	}
	#maincont
	{
		z-index: 0;
		position: relative;
		float: left;
		left:30%;
		width: 580px;
		line-height: 22px;
		margin: 80px 0 15px 0;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 0.5px;
	}
	
			#maincont p { margin: 0 0 20px 0; }
			#maincont #study p {margin: 0 0 5px 0;}
			#maincont h1, #maincont h2, #maincont h3, #maincont h4, #maincont h5 { margin: 30px 0 10px 0; font-weight: normal; letter-spacing: 1px; }
			#maincont h1 { font-size: 15px; letter-spacing: 1px;}
			#maincont h2 { font-size: 24px; }
			#maincont h3 { font-size: 24px; }
			#maincont h4 { font-size: 22px; }
			#maincont h5 { font-size: 15px; }
			
			#maincont ul { margin: 0 0 15px 35px; list-style-type: square; }
			#maincont ul li { padding: 0 0 0 2px; }
			
			#maincont ol { margin: 0 0 15px 35px; list-style-type: decimal; }
			#maincont ol li { padding: 0 0 0 2px; }
			#maincont img {
				margin: 0px 0 20px 0;
			}
			
			#maincont blockquote { background: #EEE; border-left: 3px solid #4EC3CB; padding: 15px; margin: 0 0 15px 0; font-style: italic; line-height: 18px; }
	
		#maincont #mainleft
		{
			float: right;
			width: 580px;
		}

		#maincont #mainright
		{
			width: 0px;
			padding: 0 0 0 40px;
			font-size: 11px;
			color: #777;
		}

			#maincont #mainright ul.sidemenu
			{
				width: 280px;
				margin: 0 0 15px 0;
			}
			
			#maincont #mainright ul.sidemenu li
			{
				display: block;
				list-style-type: none;
			}
			
			#maincont #mainright ul.sidemenu li a
			{
				float: left;
				width: 260px;
				padding: 6px 10px;
				margin: 0 0 1px 0;
				background: #EEE;
				color: #30797F;
			}
			
			#maincont #mainright ul.sidemenu li a:hover
			{
				color: #FFF;
				background: #30797F;
			}



	#maincont #footercont
	{
		/*float: top;*/
		margin: 0 auto;
		width: 500px;
		padding: 20px;
		font-size: 11px;
		color: #777;
		text-align: right;
	}